<!-- Navigation -->
<nav class="navbar navbar-expand-lg" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <svg width="106" height="44" viewBox="0 0 106 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54.464 6.10864V0.810913C42.8645 0.810913 33.4602 10.2984 33.4602 22.0018C33.4602 33.7046 42.8639 43.1933 54.464 43.1933V37.895C46.6587 37.895 40.1836 32.167 38.9328 24.651H49.213V19.3532H38.9328C40.1836 11.8366 46.6587 6.10864 54.464 6.10864Z" fill="#53B848"/>
                <path d="M36.3773 43.2905L12.554 0.712524L6.91357 0.810913L30.932 43.3889L36.3773 43.2905Z" fill="#53B848"/>
                <path d="M4.67752 0.712524L28.404 43.2905L25.5837 43.1933L1.95422 0.810913L4.67752 0.712524Z" fill="#53B848"/>
                <path d="M85.9704 37.895L83.3446 43.1933H92.5339C99.0587 43.1933 104.349 37.8565 104.349 31.273C104.349 24.6889 99.0593 19.3532 92.5339 19.3532C88.9093 19.3532 85.9704 16.3881 85.9704 12.7312C85.9704 9.07375 88.9093 6.10925 92.5339 6.10925V0.810913C86.0092 0.810913 80.7195 6.14653 80.7195 12.7306C80.7195 19.3135 86.0086 24.651 92.5339 24.651C96.1585 24.651 99.0981 27.6155 99.0981 31.273C99.0981 34.9299 96.1585 37.895 92.5339 37.895H85.9704Z" fill="#53B848"/>
                <path d="M70.9752 37.895C75.3382 34.012 78.0936 28.3335 78.0936 22.0018C78.0936 10.2984 68.6899 0.810913 57.0898 0.810913V6.10864C65.7897 6.10864 72.8427 13.2238 72.8427 22.0018C72.8427 30.7792 65.7897 37.895 57.0898 37.895V43.1933L80.8169 42.9965L83.6359 37.601L70.9752 37.895Z" fill="#53B848"/>
                <path d="M25.0313 18.6554L36.0855 0.810913H30.8346L22.5442 14.1942L25.0313 18.6554Z" fill="#53B848"/>
                <path d="M14.2532 27.5782L4.58057 43.1934H9.8309L16.7403 32.04L14.2532 27.5782Z" fill="#53B848"/>
            </svg>
        </a>
        <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">About</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="/track">Track</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/createRDD">Create RDD</a></li>
                <li class="nav-item"><a class="nav-link" href="/rddList">RDD List</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">logOut</a></li>
            </ul>
        </div>
    </div>
</nav>