<%- include('./layout/header'); -%>
    <section class="section-theme">
        <div class="container">


            <p class="alert-success">

            </p>

            <p class="alert-danger"></p>

            <div class="row">
                <div class="col-md-5 my-auto">
                    <form class="log-in-form ng-pristine ng-valid form-theme" action="/forgotPw" method="POST" id="forgotPw">

                        <div class="form-group">
                            <fieldset>
                                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                                <legend>Email</legend>
                            </fieldset>
                        </div>

                        <div class="text-center mb-md-5">
                            <button class="Reset btn btn-theme" type="submit">Reset Passowrd</button>
                        </div>

                    </form>
                    <div class="col-md-6">
                        <a class="btn-theme" href="/">Sign In</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <script type="text/JavaScript" src="/js/resetPw.js"></script>