
<%- include('./layout/header'); -%>
<div class="register-section text-md-left text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <img src="img/xels-logo.svg" alt="xels-logo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 my-auto">
                <div class="signup-form">
                    <form class="log-in-form ng-pristine ng-valid form-theme" action="/register" method="POST">
                        <div class="section-title">We<span>lco</span>me!</div>
                        <% if (message.length > 0) { %>
                        <div class="msg_alert" style="color:#fff;text-align:center;font-size:18px;margin-left: 50%;"><%= message %></div>
                        <% } %>
                        <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
                        <div class="form-group">
                                <fieldset>
                                    <input type="text" id="orgName" name="organization_name" class="form-control" placeholder="Organization Name" required>
                   
                                    <legend>Organization</legend>
                                </fieldset>
                            </div>
                        <div class="form-group">
                            <fieldset>
                                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                                <legend>Email</legend>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <input type="password"   id="inputPassword" 
                                       name="password" class="form-control" placeholder="Password" required 
                                       title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
                                       >
                                <legend>Password</legend>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <input type="password" title="Please enter the same Password as above" id="cinputPassword" name="cpassword" class="form-control" 
                                       placeholder="Confirm Password"
                                       required />
                                <legend>Confirm Password</legend>
                            </fieldset>
                        </div>
                        <div class="text-center mb-2 mb-md-5">
                            <button class="btn btn-theme" type="submit" >Sign Up</button>
                        </div>
                    </form>
                    <div class="footer-menu d-md-block d-none">
                        <div class="row">
                            <div class="col text-md-right mb-2">
                                <a href="#">Privacy Policy</a>
                            </div>
                            <div class="col d-md-block d-none" style="max-width: 6px;">
                                <span class="dot">
                                    <svg class="img" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="3" cy="3" r="3" fill="#C4C4C4"/>
                                    </svg>
                                </span>
                            </div>
                            <div class="col mb-2">
                                <a href="#">Terms & Conditions</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-md-4 offset-md-3 my-auto text-center d-md-block d-none">
                <div class="section-title color-white">Att<span>ent</span>ion!</div>
                <div class="text-contents color-white mb-2 mb-md-5">Already have an account?</div>
                <a class="btn-theme color-white" href="/">Sign In</a>
            </div>
        </div>
    </div>
</div>
<div class="register-section register-info-device d-md-none d-block">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4 offset-md-3 my-auto text-center">
                <div class="section-title color-white">Att<span>ent</span>ion!</div>
                <div class="text-contents color-white mb-4 mb-md-5">Already have an account?</div>
                <a class="btn-theme color-white" href="/">Sign In</a>
            </div>
        </div>
        <div class="footer-menu text-center">
            <div class="row">
                <div class="col text-md-right mb-2">
                    <a href="#" class="color-white">Privacy Policy</a>
                </div>
                <div class="col mb-2">
                    <a href="#" class="color-white">Terms & Conditions</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./layout/footer'); -%>

    <script>
        window.onload = function() {
            var txtPassword = document.getElementById("inputPassword");
            var txtConfirmPassword = document.getElementById("cinputPassword");
            txtPassword.onchange = ConfirmPassword;
            txtConfirmPassword.onkeyup = ConfirmPassword;

            function ConfirmPassword() {
                txtConfirmPassword.setCustomValidity("");
                if (txtPassword.value != txtConfirmPassword.value) {
                    txtConfirmPassword.setCustomValidity("Passwords do not match.");
                }
            }
        }
    </script>