<%- include('./layout/header'); -%>

    <!-- <div id="flashmsg">
  <h2 class="text-center"><strong>Register</strong></h2>
 
  </div> -->
    <div class="Signup-form">
        <form class="log-in-form ng-pristine ng-valid" action="/register" method="POST">
            <h2 class="form-signin-heading">Please sign in</h2>
            <% if (message.length > 0) { %>
                <div class="msg_alert" style="color:#fff;text-align:center;font-size:18px;margin-left: 50%;">
                    <%= message %>
                </div>
                <% } %>
                    <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
                    <div class="form-group">
                        <input type="text" id="orgName" name="organization_name" class="form-control" placeholder="Organization Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$">
                    </div>

                    <!-- <label for="inputPassword" class="sr-only">Password</label> -->
                    <div class="form-group">
                        <input type="password" title="Please enter the same Password as above" id="cinputPassword" name="cpassword" class="form-control" placeholder="Confirm Password"  required />
                    </div>

                    <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
        </form>

        <p>
            <a href="/">Already have an account?</a>
        </p>
    </div>
    <script src="/js/common.js"></script>
    <%- include('./layout/footer'); -%>

        <script>
            window.onload = function() {
                var txtPassword = document.getElementById("inputPassword");
                var txtConfirmPassword = document.getElementById("cinputPassword");
                txtPassword.onchange = ConfirmPassword;
                txtConfirmPassword.onkeyup = ConfirmPassword;

                function ConfirmPassword() {
                    txtConfirmPassword.setCustomValidity("");
                    if (txtPassword.value != txtConfirmPassword.value) {
                        txtConfirmPassword.setCustomValidity("Passwords do not match.");
                    }
                }
            }
        </script>