/*span.input-group-text {
    font-weight: bold;
}*/
.form-theme .form-control {
    background: transparent;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    font-size: 24px;
    height: 55px;
    padding: 15px 25px;
    margin-bottom: 25px;
}

.form-theme .form-control::placeholder,
.form-theme .form-control:-ms-input-placeholder,
.form-theme .form-control::-ms-input-placeholder {
    color: red !important;
}

.input-group-append > .input-group-text {
    border: 1px solid transparent;
}

.form-control:active,
.form-control:focus,
.form-control:focus ~ .input-group-append>.input-group-text {
    outline: 0;
    box-shadow: none;
    border:1px solid #53B848;
}

.input-group-text{
    border: none;
}
/*.form-control,.btn{
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    height: 62px;
}
@media (max-width: 991px) {
    .form-control,.btn {
        height: 48px;
    }

}
.btn-custom{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 20px;
    background: #53B848;
}

@media (min-width: 992px) {
    .btn-custom{
        padding: 20px 40px;
    }

}
.btn-copy{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 25px;
    background: #53B848;
    height: auto;
}

form .error {
  color: #ff0000;
}

button.navbar-toggler.navbar-toggler-right {
    color: #FFFFFF;
    outline: none;
}
.navbar-brand svg{
    height: 40px;
}

.html5-dialog {
	width: 300px;
	margin: 0 auto;
	border-radius: 3px;
	margin-bottom: 20px;
}
.html5-dialog dialog {
	width: 500px;
}
.html5-dialog button#show {
	position: relative;
	 bottom: 80px; 
	background-color: #16a085;
	border-radius: 3px;
	color: #fff;
	border-width: 0;
	width: 300px;
	height: 55px;
	line-height: 50px;
}
.html5-dialog button#exit {
	background-color: #c0392b;
	border-radius: 3px;
	color: #fff;
	border-width: 0;
	width: 80px;
	height: 30px;
	line-height: 28px;
}
.html5-dialog button#show:hover {
	background-color: #1abc9c;
}
.html5-dialog button#exit:hover {
	background-color: #e74c3c;
}*/