@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url("/fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url("/fonts/Montserrat-LightItalic.ttf") format("truetype");
    font-weight: normal;
}

body {
    font-size: 18px;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

h1, h2, h3, h4, h5, h6,body,a {
    font-family: 'Montserrat';
}

a {
    color: #454545;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

a:hover, a:active, a:focus {
    color: #53B848;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

::placeholder {
    color: #BFBFBF;
}

.section-theme {
    padding: 80px 0;
}

.subscribe-form input {
    background:  #E2E4E2;
}
.subscribe-form input:hover,
.subscribe-form input:active,
.subscribe-form input:focus
{
    background:  #E2E4E2;
}

.subscribe-form input.form-control {
    padding: 10px 30px;
    border: transparent;
    border-radius: 22px;
}

.input-group>.form-control:not(:last-child) {
    margin-right: -15px;
    z-index: 0;
}

.subscribe-form .input-group-text {
    background: #53B848;
    color: #FFFFFF;
    border-radius: 22px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 22px !important;
    border-bottom-left-radius: 22px !important;
    z-index: 1;
}

.register-section {
    background-color: #FFFFFF;
    background-image: url(/img/background.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 53% 100%;
    color: #454545;
    font-size: 18px;
    height: 100%;
    min-height: 100vh;
    padding: 80px 0 65px;
}

.register-section .logo {
    margin-bottom: 80px;
}

.section-title {
    color: #53B848;
    font-family: 'Montserrat-Bold';
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 40px;
}

.section-title span {
    border-bottom: 4px solid;
    padding-bottom: 35px;
}

.register-section .section-title {
    padding-bottom: 40px;
}

.color-theme {
    color: #53B848 !important;
}

.color-white {
    color: #FFFFFF !important;
}

.btn-theme {
    background: #53B848;
    border: 1px solid;
    border-radius: 22px;
    color: #FFFFFF;
    font-family: 'Montserrat-Bold';
    padding: 10px 50px;
}

.btn-theme:hover,
.btn-theme:active,
.btn-theme:focus {
    color: #FFFFFF;
}

.form-theme fieldset {
    position: relative;
}

.form-theme legend {
    background: #FFFFFF;
    color: #53B848;
    display: none;
    font-size: 14px;
    left: 22px;
    padding: 0 5px;
    position: absolute;
    top: -10px;
    width: auto;
}

.form-theme fieldset:hover legend,
.form-theme fieldset:active legend,
.form-theme fieldset:focus legend,
.form-theme .form-control:hover ~ legend,
.form-theme .form-control:active ~ legend,
.form-theme .form-control:focus ~ legend {
    display: block;
}

.register-section .footer-menu a {
    color: #979797;
}

/*Nav style*/
nav.navbar { background: #ffffff; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); moz-transition: all 0.2s ease-in-out 0s; -ms-transition: all 0.2s ease-in-out 0s; -o-transition: all 0.2s ease-in-out 0s; -webkit-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s; }
nav.navbar .navbar-brand { height: auto; }
nav.navbar .navbar-brand img, nav.navbar .navbar-brand svg, nav.navbar .navbar-brand .nav-logo { height: 34px; }
@media only screen and (min-width: 992px) { nav.navbar ul.navbar-nav { margin-left: 30px; } }
nav.navbar ul.navbar-nav li a, nav.navbar ul.navbar-nav li .nav-link, nav.navbar ul.navbar-nav li.active > a.nav-link { color: #53B848; font-family: "Montserrat-Bold"; font-size: 16px; padding-left: 30px; padding-right: 30px; }
nav.navbar ul.navbar-nav li a:after, nav.navbar ul.navbar-nav li .nav-link:after, nav.navbar ul.navbar-nav li.active > a.nav-link:after { margin-left: 15px; }
nav.navbar ul.navbar-nav li a .fa, nav.navbar ul.navbar-nav li .nav-link .fa, nav.navbar ul.navbar-nav li.active > a.nav-link .fa { margin-right: 5px; }
@media only screen and (min-width: 992px) { nav.navbar ul.navbar-nav li a, nav.navbar ul.navbar-nav li .nav-link, nav.navbar ul.navbar-nav li.active > a.nav-link { font-size: 16px; padding-left: 12px; padding-right: 12px; } }
nav.navbar ul.navbar-nav li a.dropdown-toggle:after { display: none; }
nav.navbar ul.navbar-nav li a.dropdown-toggle .fa-chevron-down { color: #53B848; font-size: 16px; margin-left: 15px; }
nav.navbar ul.navbar-nav li ul.dropdown-menu li a { color: #53B848; }
nav.navbar ul.navbar-nav li ul.dropdown-menu li .dropdown-item:active { background-color: transparent; }
@media only screen and (min-width: 992px) { nav.navbar { padding: 20px 0; } }

.navbar.navbar-expand-lg.navbar-light.fixed-top.scrolled-nav { background: #ffffff; -moz-transition: all 0.2s ease-in-out 0s; -ms-transition: all 0.2s ease-in-out 0s; -o-transition: all 0.2s ease-in-out 0s; -webkit-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s; }
@media only screen and (min-width: 992px) { .navbar.navbar-expand-lg.navbar-light.fixed-top.scrolled-nav { padding: 10px 0; } }

/*Dashboard style*/
.banner-text {
    font-size: 20px;
}

.bg-img-theme {
    background-image: url(/img/bg-img.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-id-go {
    height: 120px;
    position: relative;
}

.section-id-go a .fa {
    background: #53B848;
    border-radius: 30px;
    color: #FFFFFF;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    width: 60px;
}

.contents-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 12px 26px;
    text-align: justify;
    margin-bottom: 11px;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.contents-item:hover,
.contents-item:active,
.contents-item:focus
{
    background: #53B848;
    color: #FFFFFF;
    transform: scale(1.3);
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.box-theme {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(125, 125, 125, 0.4);
    border-radius: 23px;
}

/*footer*/
.section-footer {
    background-image: url(../img/footer-bg.svg);
    background-position: center top;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    padding-top: 100px;
}
.section-footer, footer,
.section-footer a, footer a
{
    color: #FFFFFF;
}
footer a i.fa {
    font-size: 24px;
    height: 32px;
    width: 32px;
    border: 1px solid transparent;
    line-height: 30px;
    text-align: center;
    border-radius: 25px;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
footer a i.fa:hover {
    border: 1px solid #FFF;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.footer-logo {
    margin-bottom: 20px;
}
.section-footer .link-title {
    font-family: 'Montserrat-Bold';
    margin-bottom: 20px;
    margin-top: 24px;
    text-transform: uppercase;
}
.contact-info .contact-info-item .fa {
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #53B848;
    height: 28px;
    line-height: 28px;
    width: 28px;
}
.contact-info .contact-info-item span {
    margin: 0 5px;
}
.contact-info .contact-info-item {
    margin-bottom: 5px;
}
footer {
    padding: 40px 0;
    background: #419B38;
}
/*.list-inline-item {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    width: 30px;
}*/
.list-inline-item:hover {
    border-color: #fff;
}
footer ul {
    margin-bottom: 0;
}
/* ==================
   Table theme style
====================*/
.table-theme {
    border-bottom: 1px solid #53B848;
}

.table-theme thead > tr, 
.table-theme tfoot > tr, 
.table-theme tbody tr:nth-of-type(2n+2) {
    background-color: #53B848;
    color: #FFFFFF;
}

.table-theme tbody tr:nth-of-type(2n+2) a {
    color: #FFFFFF;
}

.table-theme tbody tr:nth-of-type(2n+1) a {
    color: #454545;
}

.table-theme tbody tr:nth-of-type(2n+1) a:hover {
    color: #53B848;
}

.table-theme tr > th,
.table-theme tr > td {
    padding-left: 10px;
    padding-right: 10px;
    border-color: #53B848;
}

table.table-theme.dataTable thead th, table.table-theme.dataTable thead td,
table.table-theme.dataTable tfoot th, table.table-theme.dataTable tfoot td {
    border: 0;
}

.dataTables_wrapper select {
    border: 1px solid #53B848;
    border-radius: 5px;
}

.data-table-theme .dataTables_filter input[type="search"] {
    border: 1px solid #53B848;
    border-radius: 22px;
}

.data-table-theme .dataTables_wrapper .dataTables_paginate .paginate_button{
    border: 1px solid transparent;
    padding: 3px 15px;
}
.data-table-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.data-table-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #454545 !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #53B848));
    background: -webkit-linear-gradient(top, #fff 0%, #53B848 100%);
    background: -moz-linear-gradient(top, #fff 0%, #53B848 100%);
    background: -ms-linear-gradient(top, #fff 0%, #53B848 100%);
    background: -o-linear-gradient(top, #fff 0%, #53B848 100%);
    background: linear-gradient(to bottom, #fff 0%, #53B848 100%);
    padding: 3px 15px;
}
.data-table-theme .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.data-table-theme .dataTables_wrapper .dataTables_paginate .paginate_button:active,
.data-table-theme .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    color: #454545 !important;
    border: 1px solid #53B848;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #53B848), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #53B848 0%, #fff 100%);
    background: -moz-linear-gradient(top, #53B848 0%, #fff 100%);
    background: -ms-linear-gradient(top, #53B848 0%, #fff 100%);
    background: -o-linear-gradient(top, #53B848 0%, #fff 100%);
    background: linear-gradient(to bottom, #53B848 0%, #fff 100%);
    padding: 3px 15px;
}
/* ==================
   Nav tabs theme style
====================*/
.nav-tabs-theme .nav-tabs {
    border-bottom: 0;
    margin-bottom: 1.25rem;
}

.nav-tabs-theme .nav-tabs .nav-item {
    border: 1px solid #53B848;
    border-radius: 22px;
    padding: 10px 90px;
    z-index: 1;
}

.nav-tabs-theme .nav-tabs .nav-item:nth-child(2) {
    margin-left: -35px;
}
/*.nav-tabs-theme .nav-tabs .nav-item:first-child.active,
.nav-tabs-theme .nav-tabs .nav-item:first-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}*/

.nav-tabs-theme .btn-success:not(:disabled):not(.disabled).active:focus,
.nav-tabs-theme.btn-success:not(:disabled):not(.disabled):active:focus,
.nav-tabs-theme .show > .btn-success.dropdown-toggle:focus{
    box-shadow: none;
}

.nav-tabs-theme .btn-success:not(:disabled):not(.disabled).active,
.nav-tabs-theme .btn-success:not(:disabled):not(.disabled):active,
.nav-tabs-theme .show > .btn-success.dropdown-toggle
.nav-tabs-theme .nav-tabs .nav-item.active.show {
    background-color: #FFF;
    border: 1px solid #53B848;
    border-radius: 22px;
    color: #53B848;
    z-index: 0;
}
/* ===================
   Dialog theme style
=====================*/
.dialog-theme {
    border: 1px solid #53B848;
    border-radius: 10px;
    width: 100%;
    z-index: 999;
}
.heading-dialog-theme {
    color: #53B848;
    margin-bottom: 20px;
}
.dialog-theme .form-theme .form-control {
    font-size: 20px;
    height: 44px;
    padding: 10px 15px;
    margin-bottom: 5px;
}
/* ==============
   Media Query 
===============*/
@media (min-width: 768px) {
    .mb-md-100 {
        margin-bottom: 100px !important;
    }
}

@media only screen and (max-width: 1024px)  {
    body, .register-section {
        font-size: 16px;
    }
    .register-section .logo {
        margin-bottom: 50px;
    }
    .section-title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 991px)  {
    .section-theme {
        padding: 50px 0;
    }

    .section-title {
        font-size: 30px;
    }

    .register-section {
        background-size: 50% 100%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px)  {
    .register-section {
        background-size: 54% 100%;
        padding: 50px 0 50px;
    }

}
@media only screen and (max-width: 767px)  {
    .section-theme {
        padding: 40px 0;
    }

    .register-section {
        background: none;
        height: auto;
        min-height: 300px;
        padding: 50px 0 30px;
    }

    .register-section .logo {
        margin-bottom: 30px;
    }

    .register-section .section-title {
        padding-bottom: 15px;
    }

    .section-title {
        margin-bottom: 30px;
    }

    .register-info-device {
        background: url(../img/bg-img-register.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }

    .register-section.register-info-device {
        padding: 25px 0 50px;
    }

    .section-title span {
        border-bottom: 3px solid;
        padding-bottom: 12px;
    }

}

@media only screen and (max-width: 575px)  {
    body {
        font-size: 14px;
    }

    .section-theme {
        padding: 30px 0;
    }

    .section-footer {
        background-position: center bottom;
        background-size: cover;
        text-align: center;
    }

    footer {
        text-align: center;
    }

    #footer {
        text-align: center;
    }

    .nav-tabs-theme .nav-tabs .nav-item {
        padding: 10px 58px;
    }
}
/*.register-section .footer-menu span.dot {
    padding: 0 35px
}*/
/*.content-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.4);
    border-radius: 23px;
    padding: 20px;
    margin-top: 36px;

}*/
/*@media (min-width: 992px) {
    .content-wrapper {
        padding: 80px;
    }

}
@media (min-width: 1380px) {
    .content-wrapper {
        margin-top: 126px;
    }

}
.text-center{
    text-align: center;
}
.hide{
    display: none;
}
.address-block{
    padding: 12px;
    background: whitesmoke;
    border-radius: 4px;
    margin: 5px auto;
}
.address-block p{
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}*/

/*.send.copy{
    padding: 20px;
    width: 100%;
    overflow-wrap: break-word;
}
#content-body{
    min-height: calc(100vh - 250px);
    padding: 50px 0 250px 0;
}
#footer{
    background-image: linear-gradient(#53B848, #26751d);
    padding: 30px 0px;
}*/

/*#footer,#footer a{
    font-size: 20px;
    color: #FFFFFF;
}*/
/*#footer ul{
    padding: 0;
}
#footer ul li{
    list-style: none;
}
ul.social-media li{
    display: inline-block;
    margin-left: 6px;
}
ul.social-media li a{
    background: #FFFFFF;
    color: #53b848 !important;
    height: 25px;
    padding: 4px 8px;
    width: 25px;
    border-radius: 6px;
    transition:  all 0.2s;
}
ul.social-media li:hover a{
    background: #26751d;
    color:#FFFFFF !important;
}
#footer .footer-logo svg{
    height: 50px;
}

#mainNav{
    padding-top: 22px;
}
#mainNav a.nav-link{
    color:white;
    border: 1px solid #FFF;
    margin-left: 20px;
    border-radius: 18px;
    padding: 5px 35px;
}
@media (max-width: 991px) {
    #mainNav a.nav-link{
        margin-bottom: 5px;
    }
    #content-body{
        padding: 10px 0;
    }
}
#mainNav a.nav-link:hover{
    border: 1px solid #6DD162;
    background: #6DD162;
    transition: all .2s;
}



@media (min-width: 1200px) {
    body{
        background-size: 100% 80vh;
    }

}

.brand{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    text-align: center;

    color: #FFFFFF;
}
.brand h1{
    font-weight: bold;
}
.brand .detail-text{
    font-size: 24px;
}
@media (max-width: 991px) {
    .brand .text{
        font-size: 28px;
    }
    .brand .detail-text{
        font-size: 18px;
    }

}
.exchange-id{
    font-family: 'Montserrat-Bold';
    font-size: 22px;
    line-height: 40px;

    color: #585858;
}
@media (max-width: 991px) {
    .exchange-id{
        font-size: 18px;
    }
}
.order-highlight{
    font-family: 'Montserrat-Bold';
    font-size: 18px;

    color: #6A6A6A;
    margin: 0;
    padding: 0;
}
@media (max-width: 991px) {
    .order-highlight{
        font-size: 16px;
    }
}
.barcode img{
    height: 242px;
}
.tooltip-inner {
    background-color: #26751d !important;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #26751d !important;
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: #26751d !important;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #26751d !important;
}
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: #26751d !important;
}
.oops{
    font-size: 60px;
    font-weight: bold;
    color:#26751d;
}

@media (max-width: 991px) {
    .content-wrapper h1{
        font-size: 28px;
    }
}*/