<section class="section-footer pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a class="" href="/">
                    <svg class="footer-logo" width="106" height="44" viewBox="0 0 106 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M54.464 6.10861V0.810883C42.8645 0.810883 33.4602 10.2984 33.4602 22.0018C33.4602 33.7046 42.8639 43.1933 54.464 43.1933V37.8949C46.6587 37.8949 40.1836 32.167 38.9328 24.6509H49.213V19.3532H38.9328C40.1836 11.8366 46.6587 6.10861 54.464 6.10861Z" fill="white"/>
                        <path d="M36.3773 43.2905L12.554 0.712555L6.91357 0.810944L30.932 43.3889L36.3773 43.2905Z" fill="white"/>
                        <path d="M4.67752 0.712555L28.404 43.2905L25.5837 43.1933L1.95422 0.810944L4.67752 0.712555Z" fill="white"/>
                        <path d="M85.9704 37.8949L83.3446 43.1933H92.5339C99.0586 43.1933 104.349 37.8564 104.349 31.2729C104.349 24.6888 99.0592 19.3532 92.5339 19.3532C88.9093 19.3532 85.9704 16.3881 85.9704 12.7312C85.9704 9.07372 88.9093 6.10922 92.5339 6.10922V0.810883C86.0091 0.810883 80.7194 6.14649 80.7194 12.7306C80.7194 19.3135 86.0085 24.6509 92.5339 24.6509C96.1585 24.6509 99.098 27.6154 99.098 31.2729C99.098 34.9298 96.1585 37.8949 92.5339 37.8949H85.9704Z" fill="white"/>
                        <path d="M70.9752 37.8949C75.3382 34.0119 78.0936 28.3335 78.0936 22.0018C78.0936 10.2984 68.6898 0.810883 57.0898 0.810883V6.10861C65.7897 6.10861 72.8426 13.2238 72.8426 22.0018C72.8426 30.7792 65.7897 37.8949 57.0898 37.8949V43.1933L80.8168 42.9965L83.6358 37.601L70.9752 37.8949Z" fill="white"/>
                        <path d="M25.0313 18.6553L36.0855 0.810883H30.8346L22.5442 14.1942L25.0313 18.6553Z" fill="white"/>
                        <path d="M14.2533 27.5782L4.58063 43.1934H9.83096L16.7403 32.04L14.2533 27.5782Z" fill="white"/>
                    </svg>
                </a>
                <div class="pr-lg-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et augue ut metus maximus rhoncus eu in enim. Nullam efficitur auctor ullamcorper. Nam vulputate commodo gravida.
                </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-3 offset-md-1 col-sm-6">
                <div class="link-title">Useful links</div>
                <div class="mb-2"><a href="#!">About</a></div>
                <div class="mb-2"><a href="#!">Create RDD</a></div>
                <div class="mb-2"><a href="#!">RDD List</a></div>
            </div>
            <div class="col-md-4 col-sm-6 contact-info">
                <div class="link-title">Contact</div>
                <div class="contact-info-item"><span class="text-center"><i class="fa fa-envelope-open"></i></span><a href="mailto:info@xels.io"> info@xels.io</a></div>
                <div class="contact-info-item"><span class="text-center"><i class="fa fa-phone"></i></span> + 123 456 789</div>
                <div class="contact-info-item"><span class="text-center"><i class="fa fa-home"></i></span><a href="https://www.xels.io/" target="_blank"> xels.io</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-sm-0 mb-3">
                Copyright © 2019 <a href="https://xels.io/"><strong> XELS</strong></a>
            </div>
            <div class="col-sm-6 text-sm-right">
                <div class="social-buttons">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="" href="https://t.me/xelscoin/">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="" href="https://twitter.com/xels_PR/">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="" href="https://www.instagram.com/xels.io/">
                                <i class="fa fa-instagram" ></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="" href="https://www.facebook.com/XELS-COIN-1867938109912219/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>